<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3497.1841" targetFramework="net472" />
  <package id="cef.redist.x86" version="3.3497.1841" targetFramework="net472" />
  <package id="CefSharp.Common" version="69.0.0" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="69.0.0" targetFramework="net472" />
  <package id="Fody" version="6.2.4" targetFramework="net472" developmentDependency="true" />
  <package id="MaterialDesignColors" version="1.1.1" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="2.5.0.1205" targetFramework="net472" />
  <package id="Ninject" version="3.3.4" targetFramework="net472" />
  <package id="PropertyChanged.Fody" version="2.6.0" targetFramework="net472" />
  <package id="SharpVectors" version="1.0" targetFramework="net472" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net472" />
</packages>